*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    height: 100vh;
}
section{
    height: 100%;
    width: 100%;
}
.box{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.circle{
    background-color: red;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
}
section i{
    background-color: red;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    animation: animate 5s linear infinite;
}
section i:nth-child(even){
    background: transparent;
    border: 1px solid red;
}

@keyframes animate{
    0%{opacity: 0; transform: translateX(10%);}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 1; transform: translateY(2000%);}
}